<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <!-- Колонка 1: Лого + контакты -->
      <div class="footer__col footer__col--brand">
        <div class="footer__logo">
          <img src="assets/images/logo.svg" alt="RB Motors" class="footer__logo-img">
        </div>
        <p class="footer__desc">Платформа онлайн-аукциона автомобилей из Европы. Прозрачные торги в реальном времени.</p>
        <div class="footer__contacts">
          <a href="tel:+380000000000" class="footer__contact-item">
            <span class="material-symbols-rounded">phone</span>
            +380 (00) 000 00 00
          </a>
          <a href="mailto:info@autobid.com" class="footer__contact-item">
            <span class="material-symbols-rounded">mail</span>
            info&#64;autobid.com
          </a>
          <a href="https://t.me/autobid" target="_blank" class="footer__contact-item">
            <span class="material-symbols-rounded">send</span>
            Telegram
          </a>
        </div>
      </div>

      <!-- Колонка 2: Аукционы -->
      <div class="footer__col">
        <h4 class="footer__heading">Аукционы</h4>
        <a routerLink="/catalog" class="footer__link">Каталог лотов</a>
        <a routerLink="/live" class="footer__link">Live торги</a>
        <a routerLink="/catalog" class="footer__link">Завершающиеся скоро</a>
        <a routerLink="/catalog" class="footer__link">Результаты торгов</a>
        <a routerLink="/catalog" class="footer__link">Календарь аукционов</a>
      </div>

      <!-- Колонка 3: Покупателям -->
      <div class="footer__col">
        <h4 class="footer__heading">Покупателям</h4>
        <a routerLink="/register" class="footer__link">Как зарегистрироваться</a>
        <a routerLink="/faq" class="footer__link">Как делать ставки</a>
        <a routerLink="/faq" class="footer__link">Оплата и доставка</a>
        <a routerLink="/faq" class="footer__link">Растаможка авто</a>
        <a routerLink="/faq" class="footer__link">Гарантии и возврат</a>
      </div>

      <!-- Колонка 4: Компания -->
      <div class="footer__col">
        <h4 class="footer__heading">Компания</h4>
        <a routerLink="/about" class="footer__link">О нас</a>
        <a routerLink="/faq" class="footer__link">FAQ</a>
        <a routerLink="/contacts" class="footer__link">Контакты</a>
        <a routerLink="/about" class="footer__link">Вакансии</a>
        <a routerLink="/about" class="footer__link">Блог</a>
      </div>
    </div>

    <div class="footer__partners">
      <span class="footer__partners-label">Партнёры:</span>
      <div class="footer__partners-logos">
        <span class="footer__partner-logo" title="Arval">
          <svg viewBox="0 0 120 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.2 6L0 26h5.6l2.4-4.2h12.4L22.8 26h5.6L16.2 6h-4zM10 18l4.2-7.2L18.4 18H10zm28.8-12h-5.2v20h5.2V17.4h3.6L48 26h6l-6.6-9.4c3.2-1.4 5-4 5-7.4 0-5-3.6-8.2-9.2-8.2h-4.4zm0 4.2h3.8c2.6 0 4 1.2 4 3.6s-1.4 3.6-4 3.6h-3.8V10.2zM68 6l-5.8 14.8L56.4 6h-5.6l8.8 20h4.8L73.2 6H68zm16.6 0L72.4 26H78l2.4-4.2h12.4L95.2 26h5.6L88.6 6h-4zm-2.2 12l4.2-7.2L90.8 18H82.4zm24.4-12h-5.2v20h14.8v-4.4h-9.6V6z" fill="currentColor"/>
          </svg>
        </span>
        <span class="footer__partner-logo" title="Alphabet">
          <svg viewBox="0 0 140 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.2 6L0 26h5.2l2.4-4.2h12.4L22.4 26h5.2L15.4 6h-3.2zm-1.6 12l3.6-6.4L17.8 18H10.6zm22-12v20h4.8V6h-4.8zm11 0v20h4.8V17.4h3.6L56.4 26h5.6l-6-8.6c3-1.4 4.8-4 4.8-7.2 0-4.8-3.4-8-8.8-8h-5.4zm4.8 4h3.4c2.4 0 3.8 1.2 3.8 3.4 0 2.2-1.4 3.4-3.8 3.4h-3.4V10zm22-4v20h4.8v-7.4h6c5.2 0 8.6-3.2 8.6-8s-3.4-4.6-8.6-4.6h-10.8zm4.8 4h5.6c2.4 0 4 1 4 3.2 0 2.2-1.6 3.2-4 3.2h-5.6V10zm25.8-4v20h4.8v-7.4H110l5.2 7.4h5.8l-5.8-8.2c2.8-1.4 4.4-3.8 4.4-6.6 0-4.6-3.2-5.2-8.4-5.2h-5.4zm4.8 4h4.6c2.2 0 3.6.6 3.6 2.8 0 2-1.4 2.8-3.6 2.8h-4.6V10z" fill="currentColor"/>
          </svg>
        </span>
        <span class="footer__partner-logo" title="Athlon">
          <svg viewBox="0 0 120 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.2 6L0 26h5.2l2.4-4.2h12.4L22.4 26h5.2L15.4 6h-3.2zm-1.6 12l3.6-6.4L17.8 18H10.6zM31 6v4h6v16h5V10h6V6H31zm24 0v20h5V18h10v8h5V6h-5v8H60V6h-5zm26 0v20h16v-4H86V6h-5zm22 20h16.6v-4h-5.6V10h5.6V6H103v4h5.6v12H103v4zm25.6-20v20h5V17.6l8.2 8.4h3.6V6h-5v8.4L132.2 6h-3.6z" fill="currentColor"/>
          </svg>
        </span>
        <span class="footer__partner-logo" title="Stellantis">
          <svg viewBox="0 0 150 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.6 9.4C5 9.4 2 10.8 2 14.2c0 6.4 11.2 4.6 11.2 8 0 1.2-1.2 1.8-3 1.8-2.2 0-4-.8-5.2-2.2L2 25c1.8 1.6 4.4 2.4 7.2 2.4 4.2 0 7.4-2 7.4-5.6 0-6.6-11.2-4.8-11.2-8 0-1 1-1.6 2.6-1.6 1.8 0 3.4.6 4.8 1.8l2.6-3.2C13.8 9.4 11.2 9.4 8.6 9.4zm13.2.4v4h6.2v16h5V13.8h6.2V9.8H21.8zm20 0v20h5v-8h8v8h5v-20h-5v8h-8v-8h-5zm22 0v20h15v-4H81.8V22h9.6v-3.8h-9.6v-4.6h11.4V9.8H66.8zm18 0v20h15v-4H89.8v-16h-5zm18 0v20h15v-4h-10v-16h-5zm26.2 0L117.4 29.8h5.2l2.4-4.2h10.4l2.4 4.2h5.2L131 9.8h-2zm1.4 5.8l3.4 7h-6.8l3.4-7zM147 9.8v20h5v-8.2l7.4 8.2h3.4v-20h-5v8.2L150.4 9.8H147z" fill="currentColor"/>
          </svg>
        </span>
        <span class="footer__partner-logo" title="BCA Europe">
          <svg viewBox="0 0 120 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6v20h10.2c4.8 0 7.6-2.6 7.6-6.2 0-2.4-1.2-4.2-3.4-5 1.6-1 2.6-2.6 2.6-4.6 0-3.2-2.6-4.2-6.8-4.2H4zm5 4h4.6c1.8 0 2.8.6 2.8 2s-1 2-2.8 2H9V10zm0 7.6h5c2 0 3 .8 3 2.2s-1 2.2-3 2.2H9v-4.4zM35 9.4c-5.6 0-9.8 4-9.8 9.6s4.2 8.4 9.8 8.4c3 0 5.6-1 7.4-3l-3.2-3c-1 1-2.4 1.6-4 1.6-3 0-5-2-5-4.8s2-5.6 5-5.6c1.6 0 3 .6 4 1.6l3.2-3c-1.8-2-4.4-1.8-7.4-1.8zm23.4.4L46.2 26h5.2l2.4-4.2h10.4L66.6 26h5.2L59.6 9.8h-1.2zm-.2 5.8l3.4 7H54.8l3.4-7zm21.2-5.8v20h15.4v-4h-10.4v-4.6h9v-3.8h-9v-3.6h10.4v-4H79.4zm32.4 0v16h-6v4h17v-4h-6v-16h-5z" fill="currentColor"/>
          </svg>
        </span>
      </div>
    </div>

    <div class="footer__bottom">
      <span>&copy; 2026 AutoBid. Все права защищены.</span>
      <div class="footer__legal">
        <a routerLink="/privacy" class="footer__link">Политика конфиденциальности</a>
        <a routerLink="/terms" class="footer__link">Условия использования</a>
        <a routerLink="/cookies" class="footer__link">Файлы cookie</a>
      </div>
    </div>
  </div>
</footer>
