<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__col footer__col--brand">
        <div class="footer__logo">
          <img src="assets/images/logo.svg" alt="RB Motors" class="footer__logo-img">
        </div>
        <p class="footer__desc">{{ ls.t('footer.desc') }}</p>
        <div class="footer__contacts">
          <a href="tel:+375000000000" class="footer__contact-item">
            <span class="material-symbols-rounded">phone</span>
            +375 (00) 000 00 00
          </a>
          <a href="mailto:info@rbmotors.com" class="footer__contact-item">
            <span class="material-symbols-rounded">mail</span>
            info&#64;rbmotors.com
          </a>
          <a href="https://t.me/rbmotors" target="_blank" class="footer__contact-item">
            <span class="material-symbols-rounded">send</span>
            Telegram
          </a>
        </div>
      </div>

      <div class="footer__col">
        <h4 class="footer__heading">{{ ls.t('footer.col.auctions') }}</h4>
        <a routerLink="/catalog" class="footer__link">{{ ls.t('footer.catalog') }}</a>
        <a routerLink="/live" class="footer__link">{{ ls.t('footer.live') }}</a>
        <a routerLink="/catalog" class="footer__link">{{ ls.t('footer.ending') }}</a>
        <a routerLink="/live" class="footer__link">{{ ls.t('footer.liveTrading') }}</a>
        <a routerLink="/catalog" class="footer__link">{{ ls.t('footer.calendar') }}</a>
      </div>

      <div class="footer__col">
        <h4 class="footer__heading">{{ ls.t('footer.col.buyers') }}</h4>
        <a routerLink="/register" class="footer__link">{{ ls.t('footer.how.register') }}</a>
        <a routerLink="/faq" class="footer__link">{{ ls.t('footer.how.bids') }}</a>
        <a routerLink="/faq" class="footer__link">{{ ls.t('footer.payment') }}</a>
        <a routerLink="/faq" class="footer__link">{{ ls.t('footer.customs') }}</a>
        <a routerLink="/faq" class="footer__link">{{ ls.t('footer.guarantee') }}</a>
      </div>

      <div class="footer__col">
        <h4 class="footer__heading">{{ ls.t('footer.col.company') }}</h4>
        <a routerLink="/about" class="footer__link">{{ ls.t('footer.about') }}</a>
        <a routerLink="/faq" class="footer__link">{{ ls.t('footer.faq') }}</a>
        <a routerLink="/contacts" class="footer__link">{{ ls.t('footer.contacts') }}</a>
        <a routerLink="/about" class="footer__link">{{ ls.t('footer.jobs') }}</a>
        <a routerLink="/about" class="footer__link">{{ ls.t('footer.blog') }}</a>
      </div>
    </div>

    <div class="footer__partners">
      <span class="footer__partners-label">{{ ls.t('footer.partners') }}</span>
      <div class="footer__partners-logos">
        <span class="footer__partner-logo" title="Arval">
          <svg viewBox="0 0 90 24" xmlns="http://www.w3.org/2000/svg">
            <text x="45" y="18" text-anchor="middle" font-family="'Arial Black', 'Helvetica Neue', Arial, sans-serif" font-weight="900" font-size="19" letter-spacing="2" fill="currentColor">ARVAL</text>
          </svg>
        </span>
        <span class="footer__partner-logo" title="Alphabet">
          <svg viewBox="0 0 110 24" xmlns="http://www.w3.org/2000/svg">
            <text x="55" y="18" text-anchor="middle" font-family="'Helvetica Neue', Arial, sans-serif" font-weight="700" font-size="17" letter-spacing="3" fill="currentColor">ALPHABET</text>
          </svg>
        </span>
        <span class="footer__partner-logo" title="Athlon">
          <svg viewBox="0 0 90 24" xmlns="http://www.w3.org/2000/svg">
            <text x="45" y="18" text-anchor="middle" font-family="'Helvetica Neue', Arial, sans-serif" font-weight="700" font-size="18" letter-spacing="3" fill="currentColor">ATHLON</text>
          </svg>
        </span>
        <span class="footer__partner-logo" title="Stellantis">
          <svg viewBox="0 0 140 28" xmlns="http://www.w3.org/2000/svg">
            <text x="70" y="20" text-anchor="middle" font-family="'Helvetica Neue', Arial, sans-serif" font-weight="300" font-size="19" letter-spacing="5" fill="currentColor">STELLANTIS</text>
          </svg>
        </span>
        <span class="footer__partner-logo" title="BCA Europe">
          <svg viewBox="0 0 130 28" xmlns="http://www.w3.org/2000/svg">
            <text x="0" y="20" font-family="'Arial Black', 'Helvetica Neue', Arial, sans-serif" font-weight="900" font-size="22" fill="currentColor">BCA</text>
            <text x="55" y="20" font-family="'Helvetica Neue', Arial, sans-serif" font-weight="400" font-size="16" letter-spacing="1" fill="currentColor">Europe</text>
          </svg>
        </span>
      </div>
    </div>

    <div class="footer__bottom">
      <span>{{ ls.t('footer.copyright') }}</span>
      <div class="footer__legal">
        <a routerLink="/privacy" class="footer__link">{{ ls.t('footer.privacy') }}</a>
        <a routerLink="/terms" class="footer__link">{{ ls.t('footer.terms') }}</a>
        <a routerLink="/cookies" class="footer__link">{{ ls.t('footer.cookies') }}</a>
      </div>
    </div>
  </div>
</footer>
