@use 'shared-page' as *;
@use 'styles/variables' as *;

.task-title {
  font-weight: $fw-medium;
  font-size: $fs-sm;
}

.badge--clickable {
  cursor: pointer;
  border: none;
  &:hover { opacity: 0.8; }
}
